extends layout

block content
    h1= title
    hr
    img(src=item.imageUrl width=200)
    h2= item.name
    if item.category
        a(href=item.category.url) (#{item.category.name})
    p= item.description
    p Price: #{item.price} $
    p Number in Stock: #{item.numberInStock}
    p
        a(href='/item/update/'+item._id) Update item
    p
        a(href='/item/delete/'+item._id) Delete item
